.carousel {
  align-items: center;
  height: 278px;
  overflow: hidden;
  width: 225px;
  position: relative;
  margin: 0 auto;


  @include onTablet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    width: 100%;
    min-width: 225px;
    position: relative;
    margin-bottom: 50px;
  }

  @include onDesktop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    width: 100%;
    min-width: 225px;
    position: relative;
    margin-bottom: 50px;
  }

  &__item,
  &__item--hidden {
    display: none;
  }
  
  &__item--visible {
    display: flex;
    animation: fade 500ms ease-in-out;
  }
  
  &__action{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -60%;
    width: 100%;
    transform: translateY(-50%);
  }
}