@import url(https://db.onlinewebfonts.com/c/203748910c1bfb8227b221641582f0b8?family=Nirmala+UI);
@import url(https://db.onlinewebfonts.com/c/429d7be4109ed5e4f17b52951d6f2215?family=Nirmala+UI+Bold);
@import "mixins";
@import "carousel";
@import "text-block";


body, h2, p{
  margin:0;
}

section {
  background-image: url(../images/bc.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%;
  height: 100vh;

  @include onDesktop{
    background-position: center center;
  }
}

.entry-section__wrapper{
    height: 100%;
    z-index: 0;
    position: relative;

  @include onDesktop{
    z-index: 0;
    position: relative;
  }
}

.entry-section__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 100%;
  box-sizing: border-box;
  padding: 27px 26px 18px 26px;
  
  @include onTablet{
    padding: 30px 50px;
  }

  @include onDesktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
}

h2, .warning{
  font-size: 1.5em;
  text-align: center;
  text-shadow: 0px 4px 20px rgba(255, 213, 54, 0.50);
  font-family: "Nirmala UI Bold";
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 10px;
  background: linear-gradient(178deg, #EB5D38 0%, #FFD600 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;

  @include onTablet{
    font-size: 4.25em;
    margin-bottom: 40px;
    -webkit-text-stroke: 2px #fff;
  }

  @include onDesktop{
    font-size: 5.25em;
    margin-bottom: 40px;
    -webkit-text-stroke: 2px #fff;
  }
}

.warning {
  font-size: 3em;

  @include onDesktop {
    font-size: 7.5em;
  }
}

button{
  font-family: "Nirmala UI Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #FFF;
  border-radius: 10px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  font-size: 1.5em;
  height: 56px;
  cursor: pointer;

  @include onTablet {
    font-size: 1.7em;
    padding: 30px 100px;
    height: 70px;
  }
  
  @include onDesktop {
    font-size: 2em;
    padding: 30px 100px;
    height: 84px;
  }
}
.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  font-family: "Nirmala UI Bold";

  @include onTablet {
    gap: 30px;
    width: unset;
    margin-bottom: 70px;
  }

  @include onDesktop {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: unset;
    margin-bottom: 70px;
  }

  &__cancel {
    border: 2px solid #FFF;
    background-color: transparent;
    box-shadow: 4px 4px 20px 0px rgba(255, 255, 255, 0.40);
  }

  &__continue {
    border: none;
    background: var(--button-gradient, linear-gradient(159deg, #FFE53B 0%, #FF2525 92.71%));
    box-shadow: 4px 4px 20px 0px rgba(255, 255, 255, 0.40);
  }
}
.girl-left{
  display: none;
  
  @include onDesktop{
    background-image: url(../images/girl-l.png);
    display:block;
    position: absolute;
    left: 70px;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
  }
}
.left{
  display: none;
  
  @include onDesktop{
    background-image: url(../images/left-girl.png);
    display:block;
    position: absolute;
    left: 70px;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
  }
}

.right{
  background-image: url(../images/small.png);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;

  @include onTablet{
    background-image: url(../images/right-girl.png);
    position: absolute;
  }

  @include onDesktop{
    background-image: url(../images/right-girl.png);
    background-position: bottom right;
  }
}
.girl-right{
  background-image: url(../images/girl-small.png);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;

  @include onTablet{
    background-image: url(../images/girl-small.png);
  }

  @include onDesktop{
    background-image: url(../images/girl-r.png);
    background-position: bottom right;
  }
}

img{
  object-fit: cover;
  max-width: 100%;
}

@keyframes fade{
   0%{
       transform: translatex(-100%);
  } 
  100%{
      transform: translatex(0);
  }
}

.btn {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  position: absolute; 
  width: 51px;
  height: 45px;
  border: none;
  cursor: pointer;

  @include onDesktop{
    width: 134px;
    height: 88px;
  }
  
}

.btn-next{
  background-image: url(../images/right-slide.svg);
  right: 0;
}

.btn-prev{
  background-image: url(../images/left-slide.svg);
  left: 0;
}

.carousel-section__heading {
  font-size: 1.5em;

  @include onDesktop{
    font-size: 4em;
    margin-top: 35px;
  }
}

.carousel-section__wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 86em;
  padding: 26px;
  margin: 0 auto;

  @include onDesktop {
    justify-content: space-between;
  }
}

.visible {
  display: block;
}

.hidden {
  display: none;
}