.text-block { 

  &__headings, .text-block__headings--last {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__headings--last{
    margin-bottom:100px;
  }

  &__subline {
    padding: 6px 15px 6px 8px;
    color: white;
    text-align: center;
    font-family: "Nirmala UI";
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border: 1px solid #fff;
    backdrop-filter: blur(5px);
    width: fit-content;
    border-radius: 40px;
    margin-bottom: 16px;

    @include onTablet { 
      font-size: 2em;
      line-height: 100%;
      padding: 16px 30px;
      margin-bottom: 20px;
      }
    @include onDesktop { 
      font-size: 2.25em;
      line-height: 100%;
      padding: 16px 30px;
      margin-bottom: 20px;
     }
  }
  &__description{
    z-index: 1;
    color: #FFF2CE;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Nirmala UI";
    font-size: 0.75em;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 5.6px;
    text-transform: uppercase;
  
    @include onTablet {
      font-size: 1.5em;
      margin-bottom: 80px;
    }

    @include onDesktop {
      font-size: 1.75em;
      margin-bottom: 80px;
    }
  }

  &__description--last {
    text-align: center;
    color: #fff;
    font-family: "Nirmala UI";
    font-size: 1em;
    font-style: normal;
    line-height: 140%;
  
    @include onDesktop{
      font-size: 2em;
    }
  }
}
